@use '../mixins'

.container-header
  @include mixins.centralized
    
.main-header
  display: flex
  flex-direction: column
  justify-content: space-between
  width: 730px
  height: 143px
  margin: 14rem 10rem 2.4rem 10rem

.top-header
  width: 100%
  height: 50%
  display: flex
  justify-content: space-between
  align-items: center