@use '../mixins'
@use '../variables'

.main-container
  width: 730px
  height: 420px
  background-color: variables.$dark-cyan
  border-radius: 1.5rem
  padding: 4rem

.body-header
  display: flex
  align-items: flex-start
  flex-direction: column
  width: 662px
  height: 344px
  background-color: variables.$dark-cyan

.logo-profile
  background-color: variables.$dark-cyan
  display: none

.main-header
  display: inline-block
  width: 100%
  height: 134px
  background-color: variables.$dark-cyan
  box-sizing: border-box
  // margin: 0 0 0 37px

.main-title
  font-size: 2.6rem
  color: variables.$white
  font-weight: bold
  display: inline-block
  background-color: variables.$dark-cyan

.main-date
  font-size: 1.6rem
  font-weight: normal
  display: inline-block
  background-color: variables.$dark-cyan
  margin: 0
  margin-left: 111px

.username
  font-size: 1.6rem
  color: variables.$light-blue
  display: block
  background-color: variables.$dark-cyan

.bio
  font-size: 1.5rem
  color: variables.$light-gray
  display: block
  background-color: variables.$dark-cyan
  margin-top: 20px

.stats-container
  width: 100%
  height: 85px
  display: flex
  align-items: center
  justify-content: space-around
  overflow: hidden
  border-radius: 1rem

.separador-div
  height: auto

.data-title
  font-size: 1.3rem
  color: variables.$white
  font-weight: bold
  margin: 0

.data-number
  font-size: 2.2rem
  color: variables.$white
  font-weight: bold
  margin: 0

.link-container
  width: 100%
  margin-top: 2rem
  display: flex
  flex-direction: column
  background-color: variables.$dark-cyan

.footer-section
  width: 100%
  height: 30px
  background-color: variables.$dark-cyan
  display: flex
  // align-items: center
  justify-content: space-between

.main-icon
  margin-right: 1.5rem
  background-color: variables.$dark-cyan

.footer-link
  font-size: 1.5rem
  color: variables.$white
  text-decoration: none
  background-color: variables.$dark-cyan

