@use '../mixins'
@use '../variables'

.main-container
    width: 730px
    height: 420px
    margin: 0rem 9.8rem 23.6rem 9.7rem
    background-color: variables.$dark-cyan
    border-radius: 1.5rem
    padding: 4rem